* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'myfont';
    src: url('./assets/fonts/Bahnschrift/BAHNSCHRIFT.TTF') format('truetype');
    /* Ajoutez des règles pour les autres formats de fichiers si vous les avez */
}
  
body {
    font-family: 'myfont', sans-serif;
    font-style: bold;
}
/* Utilisez le nom de police défini pour l'élément body ou d'autres éléments */


header {
    height: 100vh;
    background-image: url('./assets/ilustrations/Page.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.bord {
    border: 1px solid black;
}

.text-shadow {
    /* text-shadow: 1px 1px rgb(76, 76, 236); */
    text-shadow: 1px 1px #000;
}


.custom-btn {
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.25rem;
    /* vertical-align: middle; */
    cursor: pointer;
    border-radius: 12px;
    text-transform: uppercase;
    text-align: center;
    /* border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.508); */
    border: 2px solid red;
    background-color: rgb(255, 0, 0);
}
.custom-btn:hover {
    color: red;
    background-color: #fff;
    border: 2px solid #fff;
    /* border: 1px solid #ffffffa2; */
}
.custom-btn-sm {
    text-decoration: none;
    color: white;
    padding: 0.4rem 0.75rem;
    font-size: 0.8rem;
    /* vertical-align: middle; */
    cursor: pointer;
    border-radius: 7px;
    text-transform: uppercase;
    text-align: center;
    /* border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.508); */
    border: 2px solid red;
    background-color: rgb(255, 0, 0);
}
.custom-btn-sm:hover {
    color: red;
    background-color: #fff;
    /* border: 2px solid #fff; */
    /* border: 1px solid #ffffffa2; */
}


.custom-h-25 {
    height: 20% !important;
}
.custum-h-about {
    height: 50vh;
}
.custom-about-h {
    height: 50% !important;
}

.inline {
    display: inline;
}






.bouton-rond {
    width: 6rem;
    height: 4rem;
    color: white;
    font-size: 6em;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    position: relative;
    animation: descendre 0.7s infinite alternate;
  }
 
  @keyframes descendre {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
  

/* .h-auto {
    height: auto !important;
} */

.bg-silver {
    background-color: #e8eaed;
}
.bg-red {
    background-color: red;
}


/* h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
} */


@media (max-width: 767.98px) {
    .custom-btn {
        text-decoration: none;
        color: white;
        padding: 0.7rem 1.3rem;
        font-size: 0.9rem;
        /* vertical-align: middle; */
        cursor: pointer;
        border-radius: 12px;
        text-transform: uppercase;
        text-align: center;
        /* border: 2px solid red;
        background-color: rgba(0, 0, 0, 0.508); */
        border: 2px solid red;
        background-color: rgb(255, 0, 0);
    }
    .custom-h-about {
        height: 60vh !important;
    }
}

@media (min-width: 768px) {
    .custom-about-h {
        height: 100% !important;
    }
}