.up-btn {
    position: fixed !important;
    bottom: 2rem;
    right: 1rem;
    padding: 0.4rem 0.8rem;
    border: 3px solid red;
    border-radius: 50%;
}

.up-btn i {
    color: red;
    font-size: 1.5rem;
}