.slider-basic {
    display: flex !important;
    flex-direction: column !important;
    overflow-y: auto;
}
.gallery {
    display: flex;
    flex-direction: column;
}

/* .thumbnail-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
} */

.thumbnail-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.thumbnail-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
#partenaire img {
    width: 100%;
    height: 100%;
}
.selected {
    position: relative;
    /* border: 1px solid red; */
    z-index: 11000;
}
.bi {
    position: absolute;
    z-index: 1000;
    font-size: 3rem;
    width: auto;
    /* left: 1rem !important;
    color: green;
    font-size: 3rem; */
}
.bi-chevron-right {
    right: 0 !important;
    /* display: none !important; */
}


.thumbnail {
    /* width: 100px;
    height: 100px; */
    max-height: 100% !important;
    scroll-snap-align: start;
    margin-right: 10px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
}


.main-image img {
    height: 100%;
}